function IfDo.blaBla 0
push argument 0
pop pointer 0
push argument 1
push argument 2
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
push argument 2
sub
pop argument 1
goto IF_END0
label IF_FALSE0
push argument 2
push argument 1
sub
pop argument 2
label IF_END0
push argument 1
push argument 2
push argument 1
push argument 2
add
push argument 2
push argument 1
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
