function Main.main 2
push constant 0
pop local 0
push constant 0
pop local 1
label LABEL_1_start
push local 0
push constant 10
lt
not
if-goto LABEL_2_end
push local 0
push constant 1
add
pop local 0
push local 1
push local 0
add
pop local 1
goto LABEL_1_start
label LABEL_2_end
push constant 5000
push local 1
call Memory.poke 2
pop temp 0
push constant 0
return
