function ExpreList.main 6
push argument 0
pop pointer 0
push constant 3
pop local 4
push constant 9
pop local 3
push constant 2
pop local 5
push constant 0
pop local 0
push constant 2
pop local 1
push constant 10
pop local 2
push local 0
call Math.abs 1
push local 1
call Math.multiply 2
push local 2
add
pop local 0
push constant 0
return
