function Game.new 0
push constant 5
call Memory.alloc 1
pop pointer 0
push constant 24576
pop this 1
push argument 0
call Snake.new 1
pop this 2
push argument 0
pop this 0
push constant 64
push constant 64
push argument 0
call Food.new 3
pop this 3
push argument 1
pop this 4
push pointer 0
call Game.setLevel 1
pop temp 0
push pointer 0
return
function Game.setLevel 0
push argument 0
pop pointer 0
push constant 9
call String.new 1
push constant 46
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 118
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push this 4
call Output.printInt 1
pop temp 0
push this 4
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
goto IF_END0
label IF_FALSE0
push this 4
push this 2
call Board.drawWalls 2
pop temp 0
label IF_END0
push constant 0
return
function Game.setDirection 2
push argument 0
pop pointer 0
push this 1
call Memory.peek 1
pop local 0
push this 2
call Snake.getDirection 1
pop local 1
push local 0
push constant 130
eq
not
push local 0
push constant 131
eq
not
and
push local 0
push constant 132
eq
not
and
push local 0
push constant 133
eq
not
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push local 0
push constant 132
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 1
push constant 3
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
return
goto IF_END2
label IF_FALSE2
push this 2
push constant 1
call Snake.setDirection 2
pop temp 0
push constant 0
not
return
label IF_END2
label IF_FALSE1
push local 0
push constant 131
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 1
push constant 2
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 0
return
goto IF_END4
label IF_FALSE4
push this 2
push constant 0
call Snake.setDirection 2
pop temp 0
push constant 0
not
return
label IF_END4
label IF_FALSE3
push local 0
push constant 130
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push local 1
push constant 1
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push constant 0
return
goto IF_END6
label IF_FALSE6
push this 2
push constant 3
call Snake.setDirection 2
pop temp 0
push constant 0
not
return
label IF_END6
label IF_FALSE5
push local 1
push constant 0
eq
push local 0
push constant 133
eq
and
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push constant 0
return
goto IF_END7
label IF_FALSE7
push this 2
push constant 2
call Snake.setDirection 2
pop temp 0
push constant 0
not
return
label IF_END7
function Game.checkCollision 7
push argument 0
pop pointer 0
push this 2
call Snake.getHead 1
pop local 0
push this 2
call Snake.getDirection 1
pop local 3
push constant 1
push local 0
add
pop pointer 1
push that 0
pop local 1
push constant 2
push local 0
add
pop pointer 1
push that 0
pop local 2
push constant 508
push constant 2
push this 0
call Math.multiply 2
sub
pop local 4
push constant 253
push constant 2
push this 0
call Math.multiply 2
sub
pop local 5
push local 1
push constant 3
gt
not
push local 3
and
push constant 3
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push local 1
push local 4
gt
push local 3
push constant 1
eq
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
return
label IF_FALSE1
push local 2
push constant 16
gt
not
push local 3
push constant 0
eq
and
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
return
label IF_FALSE2
push local 2
push local 5
gt
push local 3
push constant 2
eq
and
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 0
return
label IF_FALSE3
push local 1
push this 0
add
push local 4
lt
not
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 0
return
label IF_FALSE4
push local 2
push this 0
add
push local 5
lt
not
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 0
return
label IF_FALSE5
push local 2
push constant 16
gt
not
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push constant 0
return
label IF_FALSE6
push local 1
push constant 3
gt
not
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push constant 0
return
label IF_FALSE7
push this 4
push constant 1
eq
not
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push this 4
push this 2
push local 1
push local 2
call Board.checkCollisionWall 4
pop local 6
push local 6
return
label IF_FALSE8
push constant 0
not
return
function Game.update 6
push argument 0
pop pointer 0
push constant 80
call Sys.wait 1
pop temp 0
push pointer 0
call Game.setDirection 1
pop temp 0
push pointer 0
call Game.checkCollision 1
pop local 0
push constant 0
pop local 2
push local 0
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push this 2
call Snake.move 1
pop temp 0
push this 2
call Snake.checkCollision 1
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
return
label IF_FALSE1
push this 3
push this 2
call Food.collision 2
pop local 1
push local 1
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 3
call Food.getX 1
push this 3
call Food.getY 1
push this 0
push constant 0
call Board.setFood 4
pop temp 0
label WHILE_EXP0
push local 2
not
not
if-goto WHILE_END0
push this 3
call Food.setRandomCords 1
pop temp 0
push this 3
call Food.getX 1
pop local 4
push this 3
call Food.getY 1
pop local 5
push this 4
push this 2
push local 4
push local 5
call Board.checkCollisionWall 4
pop local 2
goto WHILE_EXP0
label WHILE_END0
push local 4
push local 5
push this 0
push constant 0
not
call Board.setFood 4
pop temp 0
push this 2
call Snake.getHead 1
push this 0
push constant 0
not
call Board.setSnake 3
pop temp 0
push constant 0
push constant 0
call Output.moveCursor 2
pop temp 0
push constant 7
call String.new 1
push constant 115
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push this 3
call Food.getScore 1
call Output.printInt 1
pop temp 0
push this 2
call Snake.eat 1
pop temp 0
label IF_FALSE2
push constant 0
not
return
function Game.run 0
push argument 0
pop pointer 0
label WHILE_EXP0
push constant 0
not
not
if-goto WHILE_END0
push pointer 0
call Game.update 1
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 3
call Food.getScore 1
return
label IF_FALSE0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Game.dispose 0
push argument 0
pop pointer 0
push this 2
call Snake.dispose 1
pop temp 0
push this 3
call Food.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
